<!doctype html>

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/static/htmx-4.0.0/htmx.min.js"></script>

    <link
      href="{{ url_for('static', path='bootstrap-5.0.2/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <script src="/static/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>

    <title>{% block title %} Sistema de Chamados {% endblock %}</title>
  </head>

  <body hx-boost="true">
    <header></header>

    <main>{% block content %} {% endblock %}</main>

    <footer class="container my-5 py-5">
      <p class="mb-0">&copy; 2026 - Criado por: Iago Silva</p>
    </footer>
  </body>
</html>
